{%load static%}

<nav class="navbar navbar-expand-lg navbar-dark bg-black" id="mainNav">
  <div class="container container-fluid">
    <a class="navbar-brand fw-bold btn btn-1" href="/"><i class="fa-2xl fa-brands fa-wolf-pack-battalion"></i> HOME </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item pt-2">
          <a class="nav-link btn-1" href="{% url 'ejercicios:ejercicios' %}">Iniciación al Cómputo 1</a>
        </li>
        <li class="nav-item pt-2">
          <a class="nav-link btn-1" href="{% url 'blog:posts' %}">Publicaciones</a>
        </li>
        <li class="nav-item pt-2">
          <a class="nav-link btn-1" href="#about">Acerca de mi</a>
        </li>
        
        <li class="nav-item pt-2">
          <a class="nav-link btn-1" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-info btn-sm btn-1" href="{% static 'portfolio/Lista-ejercicios-Iniciacion-computo-1-GualitoVazquezJoseManuel.pdf' %}" target="_blank"> Descargar ejercicios <i class="fa-solid fa-download"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

