{%load static%}

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container container-fluid">
      <a class="navbar-brand fw-bold btn btn-1" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link btn-1" href="{% url 'blog:posts' %}">CheatSheets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-1" href="{% url 'ejercicios:ejercicios' %}">Iniciación al Cómputo 1</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="btn btn-info btn-sm btn-1" href="{% static 'portfolio/portada.pdf' %}" target="_blank">Descargar ejercicios</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>